/* Base styles */

.header {
    background-color: #2b2a33;
    font-family: sans-serif;
    color: #fbfb;
    font-weight: 800;
    text-align:center;
}

.header.child {
    background-color: rgb(237, 167, 64)
}

.align {
    text-align: center;
}