/* Base styles */

.header {
    background-color: green;
    font-family: sans-serif;
    color: white;
    font-weight: 800;
    text-align:center;
}

.header.child {
    background-color: rgb(237, 167, 64)
}

.align {
    text-align: center;
}