/* Home styles */

.header {
    background-color: green;
    font-family: sans-serif;
    color: white;
    font-weight: 800;
}

.recipes {
   font-family: Verdana, sans-serif; 
   font-size: 28px;
   font-weight: bold;   
}

/* Lasagna styles */

.header.child {
    background-color: rgb(237, 167, 64)
}